*Zone.Identifier*
.cache/
/build
*.d
*.o
*.lst
*.obj
*.map
*.elf
*.out
*.hex
compile_commands.json
*.bin
*.exe
*.app
*.x86_64
*.a
*.dll
*.dylib
*.lib
*.dSYM/
debug/*
Debug/
MDK-ARM/*
EWARM/*
*.settings
*.cproject
*.project
*.metadata
*.launch
*.ftl
*.scratch
__pycache__/
*.py[cod]
*$py.class
.venv/
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/c_cpp_properties.json
.DS_Store
.AppleDouble
.LSOverride
Icon^M
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
*.lnk
*.cab
*.msi
*.msix
*.msm
*.msp
*.stackdump
$RECYCLE.BIN/
misra.txt
local/
